/* .* {
  background-color: #343B40;
} */
body {
  /* background-color: rgb(135, 0, 1, .75) !important; */
  background-image: url("https://images.unsplash.com/photo-1528552904359-07bab3b488ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}







